<html>
  <head>
    <title>Services</title>
  </head>
  <body>
    <div id="header">
      <a href="{{ logout_url }}">Logout</a>
    </div>
    <div id="meat">
      <h1>Logged in as {{ user.nickname }}</h1>
      <ul>
        <li><a href="{{ flickr_auth }}">Flickr authentication</a>
          <p>- <a href="/download?service=flickr&type=people">Download Friends</a></p>
          <ul>
            {% for friend in flickr_friends %}
              <li><a href="/photos?service=flickr&user_id={{ friend.id }}">{{ friend.name }} ({{ friend.nick }})</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ facebook_auth }}">Facebook authentication</a>
          <p>- <a href="/download?service=facebook&type=people">Download Friends</a></p>
          <ul>
            {% for friend in facebook_friends %}
              <li><a href="/photos?service=facebook&user_id={{ friend.id }}">{{ friend.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>